<h3>Portfolio Items</h3>

<%= @porfolio_items.each do |porfolio_items| %>
    <p><%= porfolio_items.title %></p>
    <p><%= porfolio_items.subtitle %></p>
    <p><%= porfolio_items.body %></p>
    <%= image_tag porfolio_items.thumb_image unless porfolio_items.thumb_image.nil? %>
<% end %>