<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag porfolio_img(@porfolio_item.main_image, 'main'), width: '100%' %>
    </div>

    <div class="col-md-5">
      <h1><%= @porfolio_item.title %></h1>

      <hr>

      <em><%= @porfolio_item.subtitle %></em>

      <p><%= @porfolio_item.body %></p>

      <hr>

      <h3>Technologies Used:</h3>

      <% @porfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>
      
      <% if logged_in?(:site_admin) %>
        <div class="">
          <%= link_to "Edit Item", edit_porfolio_path(@porfolio_item), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>